.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.container-a {
  display: flex;
  margin: 80px;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  flex-direction: row;
}

.container-p {
  display: flex;
  margin: 80px;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
  height: 100vh;
  flex-direction: row;
}

.cs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.container-s {
  display: flex;
  margin: 80px;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
  height: 30vh;
  flex-direction: row;
}

.cat {
  position: absolute;
  height: 100px;
  top: 140px;
}

.btn {
  background-color: #6f6077; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (max-width: 800px) {
  .container {
    margin-top: 50px;
  }
  .container-a {
    margin: 20px;
  }
}
